{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
      .ocultar{
        display: none;
      }
    </style>
       <!-- Favicon icon -->
       <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

       <!-- vendor css -->
       
       <!-- Specific Page CSS goes HERE  -->
       {% block stylesheets %}{% endblock stylesheets %}

    <title>Inventary Junk</title>
</head>
<body>
  {% include 'layouts/navbar.html' %}
      
{% block content %}

{% include 'layouts/footer.html' %}

{% endblock %}
{% include 'includes/scripts.html' %} 

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
<script src="{% static 'assets/js/plugins/navbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/tailwind-modal.js' %}"></script>
<script src="{% static 'js/tailwind.config.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% block js %}

{% endblock js %}


<!-- Django Auto Logout -->
{{ redirect_to_login_immediately }}

<script>
// Obtener la tabla
let table = document.getElementById('cars_inventary');

// Obtener las filas de la tabla
let rows = table.getElementsByTagName('tr');

// Obtener el input del usuario
let input = document.getElementById('search');

// Agregar un evento de escucha al input
input.addEventListener('keyup', function() {

  // Obtener el valor del input
  let filter = input.value;

  // Crear una expresión regular para buscar en todas las columnas y filas
  let regex = new RegExp(filter, 'i');

  // Recorrer todas las filas de la tabla y ocultar aquellas que no coincidan con la expresión regular
  for (let i = 1; i < rows.length; i++) {
    let cells = rows[i].getElementsByTagName('td');
    let found = false;
    for (let j = 0; j < cells.length; j++) {
      if (regex.test(cells[j].textContent)) {
        found = true;
        break;
      }
    }
    if (found) {
      rows[i].style.display = '';
    } else {
      rows[i].style.display = 'none';
    }
  }
});
</script>

<!-- <script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->
</body>
</html>