{% extends 'base.html' %}
{% load static %}

{% block title %} Mis Charts {% endblock %}

{% block content %}
<div class="flex justify-center">
  <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-4 mt-10 flex justify-center">
    <div class="block w-72 max-h-36 p-6 bg-sky-400 border border-gray-200 rounded-lg shadow hover:shadow-lg">
      <h6 class="text-2xl text-white">Pendings for Junk</h6>
      <h2 class="text-3xl text-end text-white"><i
          class="feather icon-bookmark float-start"></i><span>{{junkcar_counter}}</span></h2>
      <p class="m-b-0">Completed Junk<span class="float-end">351</span></p>

    </div>

    <div class="block w-72 max-h-36 p-6 bg-teal-400 border border-gray-200 rounded-lg shadow hover:shadow-lg">
      <h6 class="text-2xl text-white">Tires and Rims Sales</h6>
      <h2 class="text-3xl text-end text-white"><i class="feather icon-tag float-start"></i><span>1641</span>
      </h2>
      <p class="m-b-0">This Month<span class="float-end">213</span></p>

    </div>

    <div class="block w-72 max-h-36 p-6 bg-orange-300 border border-gray-200 rounded-lg shadow hover:shadow-lg">
      <h6 class="text-2xl text-white">Revenue</h6>
      <h2 class="text-3xl text-end text-white"><i class="feather icon-repeat float-start"></i><span>$42,562</span></h2>
      <p class="m-b-0">This Month<span class="float-end">$5,032</span></p>

    </div>

    <div class="block w-72 max-h-36 p-6 bg-red-400 border border-gray-200 rounded-lg shadow hover:shadow-lg">
      <h6 class="text-2xl text-white">Total Profit</h6>
      <h2 class="text-3xl text-end text-white"><i class="feather icon-award float-start"></i><span>$9,562</span></h2>
      <p class="m-b-0">This Month<span class="float-end">$542</span></p>

    </div>

  </div>
</div>
<div class="w-3/5 max-h-max mt-10 p-6 bg-white border border-gray-200 rounded-lg shadow hover:shadow-lg" id="chart">

</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>

<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

<script>
  var options = {
    series: [
    {
      name: "High - 2013",
      data: [28, 29, 33, 36, 32, 32, 33]
    },
    {
      name: "Low - 2013",
      data: [12, 11, 14, 18, 17, 13, 13]
    }
  ],
    chart: {
    height: 350,
    type: 'line',
    dropShadow: {
      enabled: true,
      color: '#000',
      top: 18,
      left: 7,
      blur: 10,
      opacity: 0.2
    },
    toolbar: {
      show: false
    }
  },
  colors: ['#77B6EA', '#545454'],
  dataLabels: {
    enabled: true,
  },
  stroke: {
    curve: 'smooth'
  },
  title: {
    text: 'Average High & Low Temperature',
    align: 'left'
  },
  grid: {
    borderColor: '#e7e7e7',
    row: {
      colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
      opacity: 0.5
    },
  },
  markers: {
    size: 1
  },
  xaxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
    title: {
      text: 'Month'
    }
  },
  yaxis: {
    title: {
      text: 'Temperature'
    },
    min: 5,
    max: 40
  },
  legend: {
    position: 'top',
    horizontalAlign: 'right',
    floating: true,
    offsetY: -25,
    offsetX: -5
  }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
</script>

{% endblock javascripts %}