{% extends "base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container m-8">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- order-card start -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-body">
                        <h6 class="text-2xl text-white">Pendings for Junk</h6>
                        <h2 class="text-3xl text-end text-white"><i
                                class="feather icon-bookmark float-start"></i><span>{{pendings_for_junk}}</span></h2>
                        <p class="m-b-0">Completed Junk<span class="float-end">{{total_junked_cars}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-body">
                        <h6 class="text-2xl text-white">Tires and Rims Sales</h6>
                        <h2 class="text-3xl text-end text-white"><i
                                class="feather icon-tag float-start"></i><span>{{total_rims_and_tires}}</span>
                        </h2>
                        <p class="m-b-0">This Month<span class="float-end">{{rims_and_tires_last_month}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-body">
                        <h6 class="text-2xl text-white">Revenue</h6>
                        <h2 class="text-3xl text-end text-white"><i
                                class="feather icon-repeat float-start"></i><span>${{total_revenue}}</span></h2>
                        <p class="m-b-0">This Month<span class="float-end">${{last_month_revenue}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-red order-card">
                    <div class="card-body">
                        <h6 class="text-2xl text-white">Total Profit</h6>
                        <h2 class="text-3xl text-end text-white"><i
                                class="feather icon-award float-start"></i><span>${{total_profit}}</span></h2>
                        <p class="m-b-0">This Month<span class="float-end">${{last_month_profit}}</span></p>
                    </div>
                </div>
            </div>
            <!-- order-card end -->
            <!-- sales ratio start -->
            <div class="col-md-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Sales Ratio</h5>
                    </div>
                    <div class="card-body ps-0 pb-0">
                        <div id="sales_ratio"></div>
                    </div>
                </div>
            </div>
            <!-- sales ratio end -->
            <!-- total inventory start -->
            <div class="col-md-12 col-xl-6 mt-2.5">
                <div class="card">
                    <div class="card-header">
                        <h5>Total Inventary</h5>
                    </div>
                    <div class="card-body ps-0 pb-0">
                        <div id="total_inventary"></div>
                    </div>
                </div>
            </div>
            <!-- total inventory end -->
        
            <div class="col-span-8 sm:col-span-8 mt-10 mb-10 p-6 bg-white border border-gray-200 rounded-lg transition-all hover:shadow-xl duration-300" id="all_profits">
                <h5>Income in the last Months</h5>
            </div>


            <!-- social statustic start -->
           
            <!-- Customer overview end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->


<footer class="bottom-0 left-0 z-20 w-full p-4 bg-gray-800 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2023 <a href="" class="hover:underline">DevCode Solutions™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{% url 'about' %}" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
            <a href="{% url 'privacy_policy' %}" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="{% url 'licensing' %}" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="{% url 'faq' %}" class="mr-4 hover:underline md:mr-6">FAQ</a>
        </li>
        <li>
            <a href="{% url 'contact' %}" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>

<!-- custom-chart js -->
<!-- Sales Ratio Chart -->
<script>
    var options = {
        chart: {
            height: 230,
            type: 'line',
            toolbar: {
                show: false,
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 2,
            curve: 'smooth'
        },
        series: [{
            name: 'Tires',
            data: {{sr_tires|safe}}
        }, {
            name: 'Rims',
            data: {{sr_rims|safe}}
        }, {
            name: 'Engines',
            data: {{sr_engines|safe}}
        }, {
            name: 'Catalysts',
            data: {{sr_catalysts|safe}}
        }, {
            name: 'Others Parts',
            data: {{sr_parts|safe}}
        }],
        legend: {
            position: 'top',
        },
        xaxis: {
            categories: {{categories_all_profit|safe}},
            axisBorder: {
                show: false,
            },
            label: {
                style: {
                    color: '#ccc'
                }
            },
        },
        yaxis: {
            show: true,            
            labels: {
                style: {
                    color: '#ccc'
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                shadeIntensity: 0.5,
                type: 'horizontal',
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 100]
            },
        },
        markers: {
            size: 5,
            colors: ['#4099ff', '#2ed8b6'],
            opacity: 0.9,
            strokeWidth: 2,
            hover: {
                size: 7,
            }
        },
        grid: {
            borderColor: '#cccccc3b',
        }
      }
      var chart = new ApexCharts(document.querySelector("#sales_ratio"), options);
      chart.render();
</script>


<!--  Inventary Chart -->
<script>
    var options = {
        series: [{{total_cars|safe}}, {{total_catalyst|safe}}, {{total_rims|safe}}, {{total_tires|safe}}, {{total_junked_cars|safe}}],
        chart: {
        width: 380,
        type: 'pie',
      },
      labels: ['Cars', 'Catalizt', 'Rims', 'Tires', 'Junked Cars'],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
      };
    
      var chart = new ApexCharts(document.querySelector("#total_inventary"), options);
      chart.render();
</script>


<!-- All profit char -->
<script>
    var options = {
        series: [{
        name: 'Cars',
        data: {{cars_data|safe}}
      }, {
        name: 'Others Parts',
        data: {{parts_data|safe}}
      }, {
        name: 'Tires',
        data: {{tires_data|safe}}
      }, {
        name: 'Rims',
        data: {{rims_data|safe}}
      }, {
        name: 'Catalysts',
        data: {{catalysts_data|safe}}
      }, {
        name: 'Engines',
        data: {{engines_data|safe}}
      }],
        chart: {
        type: 'bar',
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      xaxis: {
        categories: {{categories_all_profit|safe}},
      },
      yaxis: {
        title: {
          text: '$ (thousands)'
        }
      },
      fill: {
        opacity: 1
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return "$ " + val + " thousands"
          }
        }
      }
      };
    
      var chart = new ApexCharts(document.querySelector("#all_profits"), options);
      chart.render();
</script>

{% endblock javascripts %}