{% extends 'base.html' %}

{% block js %}

<!-- <script>
    function carDelete(id){
        Swal.fire({
            "title": "Are you sure?",
            "text": "Won't be able to revert this action",
            "icon":"warning",
            "showCancelButton":true,
            "cancelButtonText": "No, cancel",
            "confirmButtonText": "Yes, delete",
            "reverseButtons":true,
            "confirmButtonColor": "red"
        })
        .then (function(result){
            if(result.isConfirmed){
                window.location.href = "/cars/delete/"+id+""
            }
        })
    }
</script> -->

{% endblock %}

{% load static %}
{% block content%}

<div> 
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700 flex intems-center justify-center">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Cars</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Pendings for Junk
                        <span class="inline-block items-center justify-center w-4 h-4 ml-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
                            {{junkcar_counter}}
                        </span>
                    </button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Junked Cars</button>
                </li>
                <li role="presentation">
                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Parts Sold</button>
                </li>
                <li role="presentation">
                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="sold-tab" data-tabs-target="#sold" type="button" role="tab" aria-controls="sold" aria-selected="false">Cars Sold</button>
                </li>
            </ul>
    </div>
        <div id="myTabContent">
            <!-- Primera Tabla -->
            <div class="hidden p-4 rounded-lg bg-gray-50" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
                <section class="bg-gray-50 p-3 sm:p-5">
                    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                        <!-- Start coding here -->
                        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                
                                <div class="pb-4 bg-white">
                                    <label for="table-search" class="sr-only">Search</label>
                                    <div class="relative mt-1">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                                        </div>
                                        <input type="text" id="search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
                                    </div>
                                </div>
                                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                                    <a href="{% url 'entry' %}"><button type="button" class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add a new car<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        </button> </a> 
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="cars_inventary">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Inventary No.</th>
                                            <th scope="col" class="px-4 py-3">Brand</th>
                                            <th scope="col" class="px-4 py-3">Model</th>
                                            <th scope="col" class="px-4 py-3">Year</th>
                                            <th scope="col" class="px-4 py-3">Entry Date</th>
                                            <th scope="col" class="px-4 py-3">Condition</th>
                                            <th scope="col" class="px-4 py-3">Title Condition</th>
                                            <th scope="col" class="px-4 py-3">VIN Number</th>
                                            <th scope="col" class="pl-12">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for car in cars %}
                                        <tr class="border-b dark:border-gray-700">
                                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{car.inventary_number}}</td>
                                            <td class="px-4 py-3">{{car.brand.name}}</td>
                                            <td class="px-4 py-3"> {{car.model.name}}</td>
                                            <td class="px-4 py-3"> {{car.year}}</td>   
                                            <td class="px-4 py-3">{{car.entry_date|date:"M, j Y"}}</td>
                                            <td class="px-4 py-3">{{car.condition}}</td>                        
                                            <td class="px-4 py-3">{{car.title_condition}}</td>                        
                                            <td class="px-4 py-3">{{car.vin_number}}</td>                        
                                            <td class="px-4 py-3">
                                                <a href="{% url 'sell' car.id %}">
                                                    <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                        <title>Sell</title>
                                                    </svg>
                                                    </button>
                                                </a>

                                                <a href="{% url 'to_junk' car.id %}">
                                                    <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                                                        <title>To Junk</title>
                                                    </svg>
                                                    </button>
                                                </a>
                                         
                                                <a href="#" onclick="carDelete({{car.id}})">
                                                    <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-red-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                        <title>Delete</title>
                                                    </svg>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'layouts/paginator.html' %}
                            <!-- <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                    Showing
                                    <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                                    of
                                    <span class="font-semibold text-gray-900 dark:text-white">{{car_counter}}</span>
                                </span>
                                <ul class="inline-flex items-stretch -space-x-px">
                                    {% if cars.has_previous %}
                                    <li>
                                        <a href="?page={{ cars.previous_page_number }}" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <span class="sr-only">Previous</span>
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page in paginator.page_range %}
                                        {% if forloop.last and page != cars.number and paginator.num_pages > 7 %} 
                                            {% if cars.next_page_number != paginator.num_pages%}
                                            <li>
                                                <a href="?page={{ cars.number | add:1}}#pagtable" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                                            </li>
                                            {% endif %}
                                        <li>
                                            <a href="?page={{paginator.num_pages}}#pagtable" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{paginator.num_pages}}</a>
                                        </li>
                                            {% endif %}
                                            {% if page == cars.number and page > 7 %}
                                        <li>
                                            <a href="?page={{ page | add:-1 }}#pagtable" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                                        </li>
                                            {% endif %}
                                            {% if page < 7 or page == cars.number %}
                                        <li>
                                            <a href="?page={{ page }}#pagtable" aria-current="page" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white {% if page == cars.number %}flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white{% endif %}">{{page}}</a>
                                        </li>
                                        {% endif %}
                                        
                                    {% endfor %}
                                    <li>
                                        {% if cars.has_next %}
                                        <a href="?page={{ cars.next_page_number }}" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <span class="sr-only">Next</span>
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                        {% endif %}

                                    </li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </section>
            </div>    
            <!-- Aqui termina la primera tabla -->

            <!-- esta es la 2da lista -->
            <div class="hidden p-4 rounded-lg bg-gray-50" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">     
                <section class="bg-gray-50 p-3 sm:p-5">
                    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                        <!-- Start coding here -->
                        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                <div class="w-full md:w-1/5">
                                    <form class="flex items-center">
                                        <label for="simple-search" class="sr-only">Search</label>
                                        <div class="relative w-full">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Inventary No.</th>
                                            <th scope="col" class="px-4 py-3">Brand</th>
                                            <th scope="col" class="px-4 py-3">Model</th>
                                            <th scope="col" class="px-4 py-3">Year</th>
                                            <th scope="col" class="px-4 py-3">Entry Date</th>
                                            <th scope="col" class="px-4 py-3">Condition</th>
                                            <th scope="col" class="px-4 py-3">Title Condition</th>
                                            <th scope="col" class="px-4 py-3">VIN Number</th>
                                            <th scope="col" class="pl-7 px-4 py-3">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for junkcar in junkcars %}
                                        <tr class="border-b dark:border-gray-700">
                                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{junkcar.car.inventary_number}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.brand.name}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.model.name}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.year}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.entry_date|date:"M, j Y"}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.condition}}</td>
                                            <td class="px-4 py-3">{{junkcar.car.title_condition}}</td>                        
                                            <td class="px-4 py-3">{{junkcar.car.vin_number}}</td>
                                            <td class="px-4 py-3 flex items-center justify-start">
                                                <a href="{% url 'sell' junkcar.id %}">
                                                    <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                        <title>Sell</title>
                                                    </svg>
                                                    </button>
                                                </a>

                                                <a href="{% url 'scratched' junkcar.id %}">
                                                    <button class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                        <title>Scratched</title>
                                                    </svg>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'layouts/paginator.html' %}
                        </div>
                    </div>
                </section>
            </div>
            <!-- Fin 2da lista -->

            <!-- esta es la 3ra lista Scratched-->
            <div class="hidden p-4 " id="settings" role="tabpanel" aria-labelledby="settings-tab">          
                <section class="bg-gray-50 p-3 sm:p-5">
                    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                        <!-- Start coding here -->
                        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                <div class="w-full md:w-1/5">
                                    <form class="flex items-center">
                                        <label for="simple-search" class="sr-only">Search</label>
                                        <div class="relative w-full">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Inventary No.</th>
                                            <th scope="col" class="px-4 py-3">VIN</th>
                                            <th scope="col" class="px-4 py-3">Brand</th>
                                            <th scope="col" class="px-4 py-3">Model</th>
                                            <th scope="col" class="px-4 py-3">To Junk Date</th>
                                            <th scope="col" class="px-4 py-3">Scratched Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for scratched in scratched_cars %}
                                        <tr class="border-b dark:border-gray-700">
                                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{scratched.car.inventary_number}}</td>
                                            <td class="px-4 py-3">{{scratched.car.vin_number}}</td>
                                            <td class="px-4 py-3">{{scratched.car.brand.name}}</td>
                                            <td class="px-4 py-3">{{scratched.car.model.name}}</td>
                                            <td class="px-4 py-3">{{scratched.to_junk_date|date:"M, j Y"}}</td>
                                            <td class="px-4 py-3">{{scratched.scratched_date|date:"M, j Y"}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'layouts/paginator.html' %}
                        </div>
                    </div>
                </section>
            </div>
            <!-- Fin 3ra tabla -->

            <!-- esta es la 4ta lista Parts Sold-->
            <div class="hidden p-4 rounded-lg bg-gray-50" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">  
                <section class="bg-gray-50 p-3 sm:p-5">
                    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                        <!-- Start coding here -->
                        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                <div class="w-full md:w-1/5">
                                    <form class="flex items-center">
                                        <label for="simple-search" class="sr-only">Search</label>
                                        <div class="relative w-full">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Name</th>
                                            <th scope="col" class="px-4 py-3">Car Inv. Num.</th>
                                            <th scope="col" class="px-4 py-3">Car VIN</th>
                                            <th scope="col" class="px-4 py-3">Car Brand</th>
                                            <th scope="col" class="px-4 py-3">Car Model</th>
                                            <th scope="col" class="px-4 py-3">Quantity</th>
                                            <th scope="col" class="px-4 py-3">Sale Date</th>
                                            <th scope="col" class="px-4 py-3">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for part in parts_sold %}
                                        <tr class="border-b dark:border-gray-700 cursor-pointer" data-modal-target="defaultModal" data-modal-toggle="defaultModal">
                                            {% if part.car.inventary_number == NULL %}
                                                <td class="px-4 py-3">{{part.name}}-{{part.part_type}}</td>
                                                <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">--</td>                                            
                                                <td class="px-4 py-3">--</td>
                                                <td class="px-4 py-3">--</td>
                                                <td class="px-4 py-3">--</td>
                                                <td class="px-4 py-3">{{part.quantity}}</td>
                                                <td class="px-4 py-3">{{part.sold_date|date:"M, j Y"}}</td>
                                                <td class="px-4 py-3">{{part.price}}</td>
                                            {% else %}
                                            <td class="px-4 py-3">{{part.name}}-{{part.part_type}}</td>
                                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{part.car.inventary_number}}</td>                                            
                                            <td class="px-4 py-3">{{part.car.vin_number}}</td>
                                            <td class="px-4 py-3">{{part.car.brand.name}}</td>
                                            <td class="px-4 py-3">{{part.car.model.name}}</td>
                                            <td class="px-4 py-3">{{part.quantity}}</td>
                                            <td class="px-4 py-3">{{part.sold_date|date:"M, j Y"}}</td>
                                            <td class="px-4 py-3">{{part.price}}</td>
                                            {% endif %}                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'layouts/paginator.html' %}
                        </div>
                    </div>
                </section>

            </div>
            <!-- Fin 4ta tabla -->

            <!-- esta es la 5ta lista Cars Sold -->
            <div class="hidden p-4 rounded-lg bg-gray-50" id="sold" role="tabpanel" aria-labelledby="sold-tab">  
                <section class="bg-gray-50 p-3 sm:p-5">
                    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                        <!-- Start coding here -->
                        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                                <div class="w-full md:w-1/5">
                                    <form class="flex items-center">
                                        <label for="simple-search" class="sr-only">Search</label>
                                        <div class="relative w-full">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-4 py-3">Inventary No.</th>
                                            <th scope="col" class="px-4 py-3">Brand</th>
                                            <th scope="col" class="px-4 py-3">Model</th>
                                            <th scope="col" class="px-4 py-3">Condition</th>
                                            <th scope="col" class="px-4 py-3">Entry Date</th>
                                            <th scope="col" class="px-4 py-3">Title Condition</th>
                                            <th scope="col" class="px-4 py-3">Price</th>
                                            <th scope="col" class="pl-7 px-4 py-3">Sale Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for car in cars_sold %}
                                        <tr class="border-b dark:border-gray-700">
                                            <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{car.car.inventary_number}}</td>
                                            <td class="px-4 py-3">{{car.car.brand.name}}</td>
                                            <td class="px-4 py-3">{{car.car.model.name}}</td>
                                            <td class="px-4 py-3">{{car.car.condition}}</td>
                                            <td class="px-4 py-3">{{car.car.entry_date|date:"M, j Y"}}</td>
                                            <td class="px-4 py-3">{{car.car.title_condition}}</td>
                                            <td class="px-4 py-3">{{car.price}}</td>                        
                                            <td class="px-4 py-3">{{car.date|date:"M, j Y"}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'layouts/paginator.html' %}
                        </div>
                    </div>
                </section>
            </div>
            <!-- Fin 5ta tabla -->
        </div>
</div>

  
  <!-- Main modal -->
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-4xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="mx-auto max-w-2xl ml-5 mr-5">
                <div class="px-4 sm:px-0">
                  <h3 class="text-base font-semibold leading-7 text-gray-900">Sale Information</h3>
                  <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Details of the buyer and his purchase.</p>
                </div>
                <div class="mt-6 border-t border-gray-100">
                  <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Margot Foster</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">Application for</dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Backend Developer</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">margotfoster@example.com</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">Salary expectation</dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">$120,000</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
                      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.</dd>
                    </div>
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                      <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
                      <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                          <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                            <div class="flex w-0 flex-1 items-center">
                              <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                              </svg>
                              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                <span class="truncate font-medium">resume_back_end_developer.pdf</span>
                                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                              </div>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                            </div>
                          </li>
                          <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                            <div class="flex w-0 flex-1 items-center">
                              <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                              </svg>
                              <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                <span class="truncate font-medium">coverletter_back_end_developer.pdf</span>
                                <span class="flex-shrink-0 text-gray-400">4.5mb</span>
                              </div>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                            </div>
                          </li>
                        </ul>
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                  <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                  <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
              </div>
          </div>
      </div>
  </div>
  

{% include 'layouts/footer.html' %}



{% endblock %}



