{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content%}
<div class="container mx-auto">          
    <div class="mt-10 sm:mt-10">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Select the parts of the car </h3>
            <p class="mt-1 text-sm text-gray-600">that have been removed before junk.</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 shadow-2xl mb-5">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">
                <div class="grid grid-cols-6 gap-6">
                  <!-- Nombre del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.brand|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.brand type="text" name="brand" id="brand" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
    
                  <!-- Modelo del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.model|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.model type="text" name="model" id="model" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div> 

                  <!-- ID del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.inventary_number|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.inventary_number name="inventary_number" id="inventary_number" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
    
                  <!-- Año del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.year|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.year type="number" name="year" id="year" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
                  <!-- Fecha del carro -->
                  <div class="col-span-6 sm:col-span-3">
                    {{ form.entry_date|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.entry_date type="date" name="date" id="date" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
    
                  <!-- Condicion del carro -->
                  <div class="col-span-6 sm:col-span-3">
                    {{ form.condition|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.condition name="condition" id="condition" readonly="readonly" disabled="disabled" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                </div>
          

                <div class="hidden lg:block mt-2" aria-hidden="true">
                  <div class="py-5">
                    <div class="border-t border-gray-200"></div>
                  </div>
                </div>

                  <div class="items-center text-center space-y-6 bg-white px-4 py-5 sm:p-6">
                    <fieldset>
                      <legend class="sr-only ">Parts Removed</legend>
                        <div class="text-sm font-semibold leading-6 text-gray-900" aria-hidden="true">Parts removed before Junk</div>
                        <div class="mt-5 space-y-4 grid grid-cols-4 grid-rows-1 gap-4">
                          <div class="flex items-center">
                            <div class="w-16 mt-4">
                              <label for="catalyst" class="block text-sm font-medium leading-6 text-gray-900">Catalizt</label>
                              <input type="number" value="1" name="catalyst" id="catalyst" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" max="5" min="0">
                            </div>
                          </div>
                          <div class="flex items-center">
                            <div class="w-16">
                              <label for="rims" class="block text-sm font-medium leading-6 text-gray-900">Rims</label>
                              <input id="rims" value="4" name="rims" type="number" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" max="4" min="0">
                            </div>
                          </div>
                          <div class="flex items-center">
                            <div class="w-16 mb-15">
                              <label for="tires" class="block text-sm font-medium leading-6 text-gray-900">Tires</label>
                              <input id="tires" value="4" name="tires" type="number" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" max="4" min="0">
                            </div>
                          </div>
                          <div class="flex items-center">
                            <label class="mt-9 relative inline-flex items-center cursor-pointer">
                              <input type="checkbox" name="engine" value="" class="sr-only peer">
                              <div class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Engine </span>
                            </label>
                          </div>
                        </div>
                    </fieldset>
                  </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Junk</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

  {% endblock %}