{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mt-10 mb-10 m-auto w-3/4 ">
  <section id="licensing">
    <h1 class="text-5xl mb-5 text-center font-serif">Licensing</h1>
    <p class="mb-5 text-xl">
      Welcome to our Licensing page for our enterprise inventory management system. Our inventory system is a comprehensive solution designed to help you efficiently manage your products, control stock levels, and optimize your business operations.
    </p>
    <p class="mb-5 text-xl">  
      We offer a single license option for our enterprise inventory management system. This license provides unrestricted access to all the features and functionalities of our system. With this license, you can make the most of inventory management tools and more.
    </p>
    <p class="mb-5 text-xl">
      <b>Single License:</b> By purchasing our product, you will receive lifetime access to our enterprise inventory management system. There are no recurring charges or additional payments once the purchase is made.
    </p>
    <p class="mb-5 text-xl">
      <b>One-time Price:</b> Our product is available at a fixed price. This one-time payment provides lifetime access to our enterprise inventory management system.
        <br>
      <b>Annual Hosting Cost:</b> In addition to the program cost, there is an annual hosting cost of $230. This cost covers the hosting services necessary to ensure the secure and reliable operation of your inventory system.
    </p>

    <p class="mb-5 text-xl">
      By purchasing our product, you agree to our terms and conditions of use. These terms ensure that you will use the software appropriately and legally, and that you will not share or distribute the license to third parties. Also, make sure to review our privacy policy to understand how we handle and protect your data.
    </p>
    <p class="mb-10 text-xl">
      We are committed to providing support and assistance should you have any questions or encounter technical difficulties. You can contact us at <b>softimuspro@gmail.com</b>, and our support team will be happy to assist you.
    </p>
    <p class="mb-10 text-xl">
      There is no need to renew or update your license. You have lifetime access to all future updates and enhancements at no additional cost.
    </p>
    <p class="mb-32 text-xl">
      If you have any further questions about our product or need further information, please do not hesitate to contact us. You can also refer to our Frequently Asked Questions (FAQ) section for answers to common inquiries.
    </p>
  </section>
</div>

{% include 'layouts/footer.html' %}

{% endblock %}