{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="container mx-auto mb-20">          
    <div class="mt-10 sm:mt-10">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Fill in the fields below</h3>
            <p class="mt-1 text-sm text-gray-600">to sell a part.</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 shadow-2xl mb-5">
          <!-- Select para seleccionar tipo parte a vender -->
          <label for="countries" class="text-center block mb-2 mt-4 text-lg font-medium text-gray-900 dark:text-white">Select what you want to sell</label>
            <div class="justify-center">
              <!-- Tabs  -->
              <div class="flex justify-center mb-4 border-b border-gray-200 dark:border-gray-700 ">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Tires</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Rims</button>
                    </li>
                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="engines-tab" data-tabs-target="#engines" type="button" role="tab" aria-controls="engines" aria-selected="false">Engines</button>
                    </li>
                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="catalizt-tab" data-tabs-target="#catalizt" type="button" role="tab" aria-controls="catalizt" aria-selected="false">Catalizt</button>
                    </li>

                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Other Parts</button>
                  </li>
                    
                </ul>
              </div>
              <!-- Fin Tabs -->

              {% if  success %}
            <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert"> 
               <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>  
               <span class="sr-only">Success</span>  
               <div>    
                  {% for message in success %}       
                  <span class="font-medium">{{message}}</span> 
                  {% endfor %}            
              </div>
            </div>
            {% endif %}
             <!-- Stock -->
              
             <!-- Fin Stock -->
              <!-- Contenido de Tabs -->
              <div id="myTabContent">
                
                <!-- Gomas -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  
                  <form action="" method="POST">
                    {% csrf_token %}
                    
                    <input type="hidden" value="tires" name="form_type">
                    <div class="overflow-hidden shadow sm:rounded-md">
                        <div class="bg-white px-4 py-5 sm:p-6">
                          <!-- Vender Gomas -->
                          <div id="showtires" class="grid grid-cols-6 gap-6">
                            <div class="flex justify-center col-span-6 sm:col-span-6">
                              <span id="badge-dismiss-default" class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                </svg>
                               <p class="ml-2"> {{stock.tires}} tires in Stock</p>
                                <button type="button" class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                                    <svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                    <span class="sr-only">Remove badge</span>
                                </button>
                              </span>
                            </div>
                            
                            <div class="col-span-6 sm:col-span-2">
                              <label for="quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity of tires to sell:</label>
                              <input type="number" name="quantity" id="quantity" autocomplete="quantity" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1" max="{{stock.tires}}">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                              <input type="number" name="amount" id="amount" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                              <input type="text" name="name" id="name" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                              <input type="text" name="last_name" id="last-name" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                              <input type="text" name="dni" id="dni" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                              <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                              
                          </div>
                          <!-- Fin vender gomas -->
                        </div>
                        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                          <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                        </div>
                    </div>
                  </form>
                </div>
                <!-- Fin de Gomas -->

                <!-- Llantas -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                  <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="rims" name="form_type">
                    <div class="overflow-hidden shadow sm:rounded-md">
                        <div class="bg-white px-4 py-5 sm:p-6">
                          <!-- Vender Llantas -->
                          <div id="showrims" class="grid grid-cols-6 gap-6">
                            <div class="flex justify-center col-span-6 sm:col-span-6">
                              <span id="badge-dismiss-default" class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                </svg>
                               <p class="ml-2"> {{stock.rims}} rims in Stock</p>
                                <button type="button" class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                                    <svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                    <span class="sr-only">Remove badge</span>
                                </button>
                              </span>
                            </div>
                      
                            <div class="col-span-6 sm:col-span-2">
                              <label for="quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity of rims to sell:</label>
                              <input type="number" name="quantity" id="quantity" autocomplete="quantity" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1" max="{{stock.rims}}">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                              <input type="number" name="amount" id="amount" autocomplete="amount" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                              <input type="text" name="name" id="name" autocomplete="name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                              <input type="text" name="last_name" id="last-name" autocomplete="last-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                              <input type="text" name="dni" id="dni" autocomplete="dni" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                              <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                              
                          </div>
                          <!-- Fin vender Llantas -->
                        </div>
                        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                          <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                        </div>
                    </div>
                  </form>

                </div>
                <!-- Fin de Llantas -->

                <!-- Motores -->
                  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="engines" role="tabpanel" aria-labelledby="engines-tab">
                    <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="engines" name="form_type">
                      <div class="overflow-hidden shadow sm:rounded-md">
                          <div class="bg-white px-4 py-5 sm:p-6">
                            <!-- Vender Gomas -->
                            <div id="showtires" class="grid grid-cols-6 gap-6">
                              <div class="flex justify-center col-span-6 sm:col-span-6">
                                <span id="badge-dismiss-default" class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                  </svg>
                                 <p class="ml-2"> {{stock.engines}} engines in Stock</p>
                                  <button type="button" class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                                      <svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                      <span class="sr-only">Remove badge</span>
                                  </button>
                                </span>
                              </div>
                              <div class="col-span-6 sm:col-span-2">
                                <label for="quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity of engines to sell:</label>
                                <input type="number" name="quantity" id="quantity" autocomplete="quantity" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1" max="{{stock.engines}}">
                              </div>
                
                              <div class="col-span-6 sm:col-span-2">
                                <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                                <input type="number" name="amount" id="amount" autocomplete="amount" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                              </div>
                              <div class="col-span-6 sm:col-span-2">
                                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                                <input type="text" name="name" id="name" autocomplete="name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                              </div>
                
                              <div class="col-span-6 sm:col-span-2">
                                <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                                <input type="text" name="last_name" id="last-name" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                              </div>
                              <div class="col-span-6 sm:col-span-2">
                                <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                                <input type="text" name="dni" id="dni" autocomplete="dni" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                              </div>
                              <div class="col-span-6 sm:col-span-2">
                                <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                                <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                              </div>
                                
                            </div>
                            <!-- Fin vender gomas -->
                          </div>
                          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                            <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                          </div>
                      </div>
                    </form>
                  </div>
                <!-- Fin Motores -->

                <!-- Catalizadores -->
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="catalizt" role="tabpanel" aria-labelledby="catalizt-tab">
                  <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="catalysts" name="form_type">
                    <div class="overflow-hidden shadow sm:rounded-md">
                        <div class="bg-white px-4 py-5 sm:p-6">
                          <!-- Vender Gomas -->
                          <div id="showtires" class="grid grid-cols-6 gap-6">
                            <div class="flex justify-center col-span-6 sm:col-span-6">
                              <span id="badge-dismiss-default" class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                                </svg>
                               <p class="ml-2"> {{stock.catalysts}} catalysts in Stock</p>
                                <button type="button" class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                                    <svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                    <span class="sr-only">Remove badge</span>
                                </button>
                              </span>
                            </div>
                            
                            <div class="col-span-6 sm:col-span-2">
                              <label for="quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity of catalizt to sell:</label>
                              <input type="number" name="quantity" id="quantity" autocomplete="quantity" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1" max="{{stock.catalysts}}">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                              <input type="number" name="amount" id="amount" autocomplete="amount" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                              <input type="text" name="name" id="name" autocomplete="name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                              <input type="text" name="last_name" id="last-name" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                              <input type="text" name="dni" id="dni" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                              <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                              
                          </div>
                          <!-- Fin vender gomas -->
                        </div>
                        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                          <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                        </div>
                    </div>
                  </form>
                </div>
              <!-- Fin Catalizadores -->

               <!-- Demas Partes -->
               <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                  
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="others" name="form_type">
                  <div class="overflow-hidden shadow sm:rounded-md">
                    <div class="bg-white px-4 py-5 sm:p-6">
      
                      <!-- Vender parte cualquiera del carro -->
                      <div id="showparts" class="grid grid-cols-6 gap-6">   
       
                        <div class="col-span-6 sm:col-span-3">
                          <label for="part-name" class="block text-sm font-medium leading-6 text-gray-900">Name of the Part:</label>
                          <input type="text" name="part_name" id="part-name" autocomplete="part-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>

                        <div class="col-span-6 sm:col-span-2">
                          <label for="car-id" class="block text-sm font-medium leading-6 text-gray-900">Car ID</label>
                          <input type="text" name="car_id" id="car-id" autocomplete="car-id" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
          
                        <div class="col-span-6 sm:col-span-1">
                          <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                          <input type="number" name="price" id="price" autocomplete="price" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                          <input type="text" name="name" id="name" autocomplete="name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
          
                        <div class="col-span-6 sm:col-span-2">
                          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                          <input type="text" name="last_name" id="last-name" autocomplete="last-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                          <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                          <input type="text" name="dni" id="dni" autocomplete="dni" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                          <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                          <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
          
                       <!-- <div class="col-span-6 sm:col-span-3">
                          <label for="condition" class="block text-sm font-medium leading-6 text-gray-900">Condition</label>
                          <select id="condition" name="part_condition" autocomplete="condition" class="mt-2 block w-full rounded-md border-0 bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <option>Good</option>
                            <option>Medium</option>
                            <option>Bad</option>
                          </select>
                        </div> -->
                           
                      </div>
                      <!-- Fin de vender parte cualquiera del carro -->
      
                    </div>
                    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                      <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                    </div>
                  </div>
                </form>

              </div>
              <!-- Fin Demas Partes -->
                
              </div>
              <!-- Fin de contenido Tabs -->
            </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'layouts/footer.html' %}
  <script src="{% static 'assets/js/plugins/parts.js' %}"></script>
{% endblock %}
