{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="container mx-auto">          
    <div class="mt-10 sm:mt-10">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Fill in the fields below</h3>
            <p class="mt-1 text-sm text-gray-600">to sell a part.</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 shadow-2xl mb-5">
          <!-- Select para seleccionar tipo parte a vender -->
          <label for="countries" class="text-center block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Which part do you want to sell?</label>
          <div class="flex items center justify-center">
            <button id="tires" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Tires</button>
            
            <button id="rims" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Rims</button>

            <button id="parts" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Another part of a car</button>
          </div>

          <!-- <select id="opciones" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-11/12 p-2.5 ml-10">
            <option selected disabled>Choose a option</option>
            <option value="TR">Tires</option>
            <option value="RIM">Rims</option>
            <option value="PART">Another part of a car</option>
          </select> -->
          <!-- Fin del Select -->
          <form action="#" method="POST">
            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">
                <!-- Vender Gomas -->
                <div id="showtires" class="hidden grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-2">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Quantity of tires to sell:</label>
                    <input type="number" name="first-part-name" id="part-name" autocomplete="given-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                    <input type="number" name="part-price" id="part-price" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Name of Client:</label>
                    <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                    <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                     
                </div>
                <!-- Fin vender gomas -->


                <!-- Vender Llantas -->
                <div id="showrims" class="hidden grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-2">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Quantity of rims to sell:</label>
                    <input type="number" name="first-part-name" id="part-name" autocomplete="given-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Amount:</label>
                    <input type="number" name="part-price" id="part-price" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Name of Client:</label>
                    <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                    <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                     
                </div>
                <!-- Fin vender Llantas -->
                

                <!-- Vender parte cualquiera del carro -->
                <div id="showparts" class="hidden grid grid-cols-6 gap-6">   
 
                  <div class="col-span-6 sm:col-span-4">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Name of the Part:</label>
                    <input type="text" name="first-part-name" id="part-name" autocomplete="given-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                    <input type="number" name="part-price" id="part-price" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Name of Client:</label>
                    <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
    
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                    <input type="text" name="year" id="car-year" autocomplete="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <div class="col-span-6 sm:col-span-3">
                    <label for="email-address" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                    <input type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
    
                  <div class="col-span-6 sm:col-span-3">
                    <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Condition</label>
                    <select id="country" name="country" autocomplete="country-name" class="mt-2 block w-full rounded-md border-0 bg-white py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      <option>Good</option>
                      <option>Medium</option>
                      <option>Bad</option>
                    </select>
                  </div>
                     
                </div>
                <!-- Fin de vender parte cualquiera del carro -->

              </div>
              <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/plugins/parts.js' %}"></script>
{% endblock %}

    

</body>
</html>