{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mt-10 mb-10 m-auto w-3/4 ">

  <section id="privacy">
    <h1 class="text-5xl mb-5 text-center font-serif">Privacy Policy</h1>
    <p class="mb-5 text-xl">
      At our company, we value and respect your privacy. This Privacy Policy describes how we collect, use, and protect the personal information you provide when using our enterprise inventory management system. We recommend that you carefully read this policy to understand how we handle your personal data and how we protect it.
    </p>
    <p class="mb-5 text-xl">  
      When you register with our inventory system or interact with it, we may collect certain personal information, including your name, email address, contact information, and other information relevant to the system's use.

    </p>
    <p class="mb-5 text-xl">
      We use the collected information to provide you with access to the inventory system, manage your account, provide technical support, send updates and service-related communications, and continuously improve our offering. We will not share your personal information with third parties unless necessary to comply with applicable laws or protect our legal rights.
    </p>
    <p class="mb-5 text-xl">
      We implement appropriate technical, administrative, and physical security measures to protect personal information against unauthorized access, disclosure, or destruction. However, please note that no transmission of data over the Internet or storage system is 100% secure, and we cannot guarantee the absolute security of your data.
    </p>

    <p class="mb-5 text-xl">
      We use cookies and similar technologies to enhance your experience on our website and inventory system. These technologies allow us to remember your preferences, personalize your experience, and gather information about system usage. You can adjust your cookie preferences through your browser settings.

    </p>
    <p class="mb-10 text-xl">
      We reserve the right to update or modify this Privacy Policy at any time. We will notify you of any significant changes through a notice on our website or other means. We recommend checking this page periodically to stay informed about any changes.
    </p>
    <p class="mb-32 text-xl">
      If you have any further questions about our Privacy Policy, please don't hesitate to contact us at <b>softimuspro@gmail.com</b> .
    </p>
  </section>

</div>



{% include 'layouts/footer.html' %}

{% endblock %}