{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="container mx-auto mb-20">          
    <div class="mt-10 sm:mt-10">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Fill in the fields below</h3>
            <p class="mt-1 text-sm text-gray-600">to sell a part.</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 shadow-2xl mb-5">
          <!-- Select para seleccionar tipo parte a vender -->
          <label for="countries" class="text-center block mb-2 mt-4 text-lg font-medium text-gray-900 dark:text-white">Select what you want to sell</label>
            <div class="justify-center">
              <!-- Tabs  -->
              <!-- <div class="flex justify-center mb-4 border-b border-gray-200 dark:border-gray-700 ">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Tires</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Rims</button>
                    </li>
                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="engines-tab" data-tabs-target="#engines" type="button" role="tab" aria-controls="engines" aria-selected="false">Engines</button>
                    </li>
                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="catalizt-tab" data-tabs-target="#catalizt" type="button" role="tab" aria-controls="catalizt" aria-selected="false">Catalizt</button>
                    </li>

                    <li class="mr-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Single Parts</button>
                  </li>
                    
                </ul>
              </div> -->
              <!-- Fin Tabs -->

              {% if  success_messages %}
                <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert"> 
                  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>  
                  <span class="sr-only">Success!</span>  
                  <div>    
                    {% for message in success_messages %}       
                      <span class="font-medium">{{message}}</span> 
                    {% endfor %}            
                  </div>
                </div>
              {% endif %}

              {% if  error_messages %}
                <div class="flex p-4 mb-4 text-sm text-red-500 rounded-lg bg-yellow-50" role="alert"> 
                  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>  
                  <span class="sr-only">Error!</span>  
                  <div>    
                    {% for message in error_messages %}       
                      <span class="font-medium">{{message}}</span> 
                    {% endfor %}            
                  </div>
                </div>
              {% endif %}
             <!-- Stock -->
              
             <!-- Fin Stock -->
              <!-- Contenido de Tabs -->
              <div id="myTabContent">
                <div class="p-4 rounded-lg bg-gray-50" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="overflow-hidden shadow sm:rounded-md">
                      
                        <div class="bg-white px-4 py-5 sm:p-6" id="parts-container">
                          <!-- Vender Partes -->
                          <div id="invoice_number" class="grid grid-cols-6 gap-6 mb-5">  
                            <div class="col-end-5 col-span-2">
                              <label for="invoices-code" class="block text-red-600 text-lg font-bold leading-6 text-gray-900">Invoice Code:</label>
                              <input required="required" type="text" name="invoices_code" id="invoices-code" autocomplete="off" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                          </div> 
                          <div id="showtires" class="grid grid-cols-6 gap-6 ">                           
                            
                            <div class="col-span-6 sm:col-span-2">
                              <label for="part_type" class="block text-sm font-medium leading-6 text-gray-900">Part type:</label>
                              <select required="required" id="select-part-type" name="part_type" autocomplete="off" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                  {% for option in options_select %}
                                    <option value="{{option.id}}">{{option.name}}</option>
                                  {% endfor %}    
                              </select>
                            </div>
                          
                            <div class="col-span-6 sm:col-span-1">
                              <label for="quantity" class="block text-sm font-medium leading-6 text-gray-900">Quantity:</label>
                              <input required="required" type="number" name="quantity" id="quantity" autocomplete="off" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" min="1">
                            </div>

                            <div class="col-span-6 sm:col-span-1">
                                <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Price:</label>
                                <input required="required" type="number" name="price" id="price" autocomplete="off" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>                          
                            
                            <div class="col-span-6 sm:col-span-2">
                              <label for="car-id" class="block text-sm font-medium leading-6 text-gray-900">Car ID:</label>
                              <input required="required" type="text" name="car_id" id="car-id" autocomplete="off" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>

                          </div>
                          <!-- Fin vender partes -->
                        </div>
                          <div class="col-span-6 sm:col-span-1 cursor-pointer mt-5 mb-5 flex justify-center">
                              <svg id="add-parts" data-tooltip-target="tooltip-default" data-tooltip-placement="right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>  
                              <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                                Add more parts
                              <div class="tooltip-arrow" data-popper-arrow></div>
                          </div>                            
                        </div>
                    
                          <div class="grid grid-cols-6 gap-6 bg-white px-4 py-5 sm:p-6 ">
                            <div class="col-span-6 sm:col-span-2">
                              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name of Buyer:</label>
                              <input required="required" type="text" name="name" id="name" autocomplete="name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
              
                            <div class="col-span-6 sm:col-span-2">
                              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last Name:</label>
                              <input required="required" type="text" name="last_name" id="last-name" autocomplete="last-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="dni" class="block text-sm font-medium leading-6 text-gray-900">DNI:</label>
                              <input required="required" type="text" name="dni" id="dni" autocomplete="dni" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <div class="col-span-6 sm:col-span-2">
                              <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sale Date:</label>
                              <input required="required" type="date" name="date" id="date" autocomplete="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                          </div>
                        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                          <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sell</button>
                        </div>
                      </div>   
                  </form>
                </div>
                
              </div>
              <!-- Fin de contenido Tabs -->
            </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'layouts/footer.html' %}
  <script src="{% static 'assets/js/plugins/parts.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dom-minifw.js' %}"></script>
  <script src="{% static 'assets/js/plugins/car_id.js' %}"></script>
  <script type="text/javascript">
    var options_select = {{options_select|safe}};

    const btn_agregar = document.getElementById('add-parts');
    console.log(btn_agregar)
    btn_agregar.addEventListener("click", function( ){
    //crear el div que contiene los 2 sub-divs
    const div_principal = D.create('div', {id:"showtires", className:'grid grid-cols-6 gap-6 mt-5'});
    
    
    //crear el div para el span e input del part-type
    const div_part_type = D.create('div', {className:'col-span-6 sm:col-span-2'});

    //crear el div para el span e input del quantity
    const div_quantity = D.create('div', {className:'col-span-6 sm:col-span-1'});

    //crear el div para el span e input del price
    const div_price = D.create('div', {className:'col-span-6 sm:col-span-1'});

    //crear el div para el span e input del Add-Car-ID
    const div_car_id = D.create('div', {className:'col-span-6 sm:col-span-2'});

    
    //crear los label de type quantity and price
    const label_part_type = D.create('label', { innerHTML: 'Part Type:',for:'part-type', className:"block text-sm font-medium leading-6 text-gray-900" } );
    const label_quantity = D.create('label', { innerHTML: 'Quantity:',for:'quantity', className:"block text-sm font-medium leading-6 text-gray-900" });
    const label_price = D.create('label', { innerHTML: 'Price:', for:'price',className:"block text-sm font-medium leading-6 text-gray-900" });
    const label_car_id = D.create('label', { innerHTML: 'Car ID:',for:'part-type', className:"block text-sm font-medium leading-6 text-gray-900" } );

    //crear los inputs de type quantity and price
    const select_part_type = D.create('select', { required: 'required', id:'select-part-type', name: 'part_type', autocomplete: 'off', className:'mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'} );
    
    for(var i=0;i<options_select.length;i++){
      const option_part = D.create('option', { value: options_select[i].id, innerHTML: options_select[i].name});
      D.append([option_part], select_part_type);
    }

    const input_quantity = D.create('input', { required: 'required', type: 'number', id:'quantity', name: 'quantity', autocomplete: 'off', className:"mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", min: '1'});

    const input_price = D.create('input', { required: 'required', type: 'number', id:'price', name: 'price', autocomplete: 'off', className:"mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", min: '1'});
    
    const input_car_id = D.create('input', { required: 'required', type: 'text', id:'car-id', name: 'car_id', autocomplete: 'off', className:"mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"});

    //crear un botoncito de eliminar este div 
    const borrar = D.create('a', { href: 'javascript:void(0)', innerHTML: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>', className:"col-end-9 col-span-2 hover:text-red-500", onclick: function( ){ D.remove(div_principal); } } );

    //agregar cada etiqueta a su nodo padre
    D.append([label_part_type, select_part_type], div_part_type);
    D.append([label_quantity, input_quantity], div_quantity);
    D.append([label_price, input_price], div_price);
    D.append([label_car_id, input_car_id], div_car_id);

    D.append([borrar, div_part_type, div_quantity, div_price, div_car_id], div_principal);
    
    //agregar el div del primer comentario al contenedor con id #container
    D.append(div_principal, D.id('parts-container') );

} );
/*
      <div class="col-span-6 sm:col-span-1">
        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Car ID:</label>
        <input type="text" name="name" id="name" autocomplete="family-name" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
*/
  </script>
{% endblock %}
